{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}

{% block title %}Fixture Travel Test{% endblock %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="page-header">
        <h1>{{ block('title') }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="jumbotron">
                <p>
                    🎉 Markus will turn
                    {{ 'today - 22 days'|date('Y') - 1987 + 1 }}
                    <span class="text-nowrap">
                        in {{ 365 - 'today - 22 days'|date('z') - 1 }} days 🎉
                    </span>
                </p>
                <p>
                    <img src="/markus.jpg" alt="Markus’ avatar" class="img-fluid"
                         width="100%" style="border-radius: 50%; box-shadow: 0 0 1em;">
                </p>
            </div>
        </div>
    </div>
{% endblock %}
